body {
    background-image: url(https://ak.picdn.net/shutterstock/videos/13609751/thumb/1.jpg);
    background-size: cover;
}
.hist {
    background-color: rgb(99, 2, 2);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    width: 500px;
    border: 1px solid yellow;
    margin-left: 30%;
    margin-top: 15px;
    text-align: center;
    border-radius: 5px;
}
.click {
   font-size: 20px;
   margin-left: 625px;
   margin-top: 310px;
   font-family: serif;
   border: 2px solid rgb(236, 0, 0);
   border-radius: 5px;
   background: black;
   text-decoration-style: solid;
   }