body {
    background-image: url(https://www.99images.com/download-image/938406/3840x2160);
    background-size: cover;
}
.hist {
    background-color: none;
    color: rgb(255, 251, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    width: 500px;
    border: 2px solid rgb(255, 255, 255);
    margin-left: 31%;
    margin-top: 15px;
    text-align: center;
    border-radius: 5px;
}
.box {
    font-family: cursive;
    color: rgb(228, 0, 0);
    text-align: center;
    font-size: 25px;

}
.click {
    display: flex;
         margin-top: 50px;
         margin-left: 46%;
         background-color: red;
         border-radius: 10px;
         font-size: 20px;
         font-family: serif;
     }