body {
    background-image: url(https://c4.wallpaperflare.com/wallpaper/404/461/97/glitch-art-artwork-game-over-hd-wallpaper-preview.jpg);
    background-size: cover;
    background-repeat: no repeat;
}
.hist {
    background-color: rgb(99, 2, 2);
    color: white;
    font-family:serif;
    font-size: 25px;
    width: 500px;
    border: 1px solid yellow;
    margin-left: 30%;
    margin-top: 15px;
    text-align: center;
    border-radius: 5px;
}
.box {
    background-color: none;
    border: 2px solid rgb(0, 0, 0);
    width: 230px;
    margin-left: 39%;
    margin-top: 10px;
    color: yellow;
    text-align: center;
    font-size: 25px;
    font-family: cursive;
    border-radius: 10px;
}
.click {
    display: flex;
         margin-top: 50px;
         margin-left: 43%;
         background-color: rgb(0, 0, 0);
         border-radius: 10px;
         font-size: 20px;
         font-family: serif;
     }