body {
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/1014/175/826/bloodborne-video-games-wallpaper-preview.jpg);
    background-size: cover;
}
.hist {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    width: 500px;
    border: 2px solid rgb(250, 6, 6);
    margin-left: 31%;
    margin-top: 15px;
    text-align: center;
    border-radius: 5px;
}
.box {
    font-family: cursive;
    color: yellow;
    text-align: center;
}
.click {
    display: flex;
         margin-top: 50px;
         margin-left: 46%;
         background-color: red;
         border-radius: 10px;
         font-size: 20px;
         font-family: serif;
     }